@theme {
  --color-admintheme-black: #0f0f0f;
  --color-admintheme-white: #ffffff;
  --color-admintheme-violet: #7c3aed;
  --color-admintheme-violet-dark: #6d28d9;
  --color-admintheme-violet-light: #ede9fe;
}
